@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
@import url('http://fonts.cdnfonts.com/css/graphik');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Zuri Team Page */

#zuri-head *,
#zuri-main *,
#zuri-footer * {
    font-family: 'Averta-Regular', sans-serif;
}
#zuri-training-head *,
#zuri-training-main *,
#zuri-training-footer *,
#zuri-talent-head,
#zuri-talent-main,
#zuri-talent-footer,
#modal-wrapper {
    font-family: 'Graphik', sans-serif;
}

#zuri-talent-footer .footer-hr-div {
    display: none;
    }

#zuri-talent-footer .zuri-talent-footer-hr {
    display: none;
}

/* Zuri Head */
#zuri-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/hero-bg.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
    text-align: center;
    height: 100vh;
}

#zuri-head img {
    margin-bottom: 5rem;
}

#zuri-head h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 800;
    color: #514949;
    margin-bottom: 2.5rem;
}

#zuri-head p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #514949;
    opacity: 0.9;
    margin-bottom: 1rem;
    width: 50%;
}

#zuri-head a {
    color: #E7332B;
    text-decoration: none;
}

#zuri-head .zuri-head-btn {
    display: flex;
    gap: 2rem;
    margin-top: 5.7rem;
}

#zuri-head .zuri-head-btn a {
    padding: 11px 28px;
    border: 1px solid #E7332B;
}

#zuri-head .zuri-head-btn .btn-fill {
    color: #ffffff;
    background-color: #E7332B;
}

#zuri-head .zuri-head-btn .btn-fill:hover {
    color: #E7332B;
    background-color: transparent;
}

#zuri-head .zuri-head-btn .btn-outline:hover {
    color: #ffffff;
    background-color: #E7332B;
}

/* Zuri Main */

#zuri-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#zuri-main .zuri-main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8.5rem 0 2rem;
    background-color: #ffffff;
}

#zuri-main .zuri-main-top h3 {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #E7332B;
}

#zuri-main .zuri-main-top p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #514949;
}

#zuri-main .zuri-main-boxes {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
}

#zuri-main .zuri-main-box {
    background-color: #FFFAFA;
    font-weight: 400;
    padding: 3.8rem 2.9rem 5rem 2.25rem;
    position: relative;
    width: 33.3%;
}

#zuri-main .zuri-main-box img {
    margin-bottom: 3rem;
}

#zuri-main .zuri-main-box .under-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -30%;
}

#zuri-main .zuri-main-box .left-img {
    left: -8%;    
}

#zuri-main .zuri-main-box .right-img {
    right: -8%;
}

#zuri-main .zuri-main-box p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #514949;
    opacity: 0.9;
    margin-bottom: 1rem;
    height: 50%;
}

#zuri-main .zuri-main-box a {
    color: #E7332B;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

/* Zuri Footer */

#zuri-footer {
    margin-top: 13rem;
    padding: 2rem;
}

#zuri-footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
}

#zuri-footer .footer-top h3 {
    font-size: 1rem;
    line-height: 1.5rem;
}

#zuri-footer .footer-top a {
    color: #E7332B;
    display: block;
    text-decoration: none;
    line-height: 2.5rem;
}

#zuri-footer .footer-top .social-item {
    width: 1.125rem;
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 0.5rem;
}

#zuri-footer .footer-bottom {
    margin: 2rem 0 5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #514949;
    font-weight: 700;
}

#footer-zuri hr {
    border: 0.7px solid #514949;
    opacity: 0.2;
}

/* Media Queries */
@media screen and (min-width:320px) and (max-width:991px) {
    #zuri-head {
        justify-content: center;
        padding-top: unset;
    }

    #zuri-head p {
        width: 70%;
    }

    #zuri-main .zuri-main-boxes {
        flex-direction: column;
        justify-content: unset;
    }

    #zuri-main .zuri-main-box {
        width: 100%;
    }

    #zuri-main .zuri-main-box .under-bg {
        display: none;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    #zuri-head .zuri-head-btn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5.7rem;
    }

    #zuri-footer .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        text-align: center;
        gap: 2rem;
    }

    #zuri-footer .footer-top a {
        line-height: 1.5rem;
    }
}


/* Training Page */

/* Training Page Head */
#zuri-training-head {
    padding: 1.5rem 3.5rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(255, 253, 245);
    z-index: 1;
}

#zuri-training-head .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#zuri-training-head .navbar .menu {
    display: flex;
    gap: 5rem;
}

#zuri-training-head .navbar a {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #585757;
    font-weight: 400;
    text-decoration: none;
}

#zuri-training-head .img-text {
    display: flex;
    align-items: center;
}

#zuri-training-head .img-text img {
    width: 4.5rem;
    background-color: hsl(3, 80%, 54%);
    border-radius: 100px;
    margin-left: -40px;
    padding: 10px;
    position: absolute;
    margin-top: -35px;
}

#zuri-training-head .img-text .enroll,
#zuri-training-main .training-one-middle-item a,
#zuri-training-main .zuri-training-main-6 a,
#zuri-training-main .zuri-training-main-7 .got-questions-tweet .bird-tweet {
background: #e7332b;
border-radius: 71px;
box-shadow: none;
color: #fff;
padding: 10px 32px;
text-decoration: none;
}

/* Training Page Main */
/* Section One */
#zuri-training-main {
    background: rgb(255, 253, 245);
    padding: 1.5rem 0;
}
#zuri-training-main .zuri-training-main-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .training-one-item {
    width: 25%;
    background: rgb(255, 253, 245);
}

#zuri-training-main .training-one-item img {
    mix-blend-mode: darken;
    width: 100%;
}

#zuri-training-main .training-one-middle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

#zuri-training-main .training-one-middle-item span {
    color: #E7332B;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: center;
}

#zuri-training-main .training-one-middle-item h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding-top: 10px;
}

#zuri-training-main .training-one-middle-item .training-one-middle-line {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 1.5rem;
}

#zuri-training-main .training-one-middle-item .training-one-middle-line img {
    width: 35%;
}

#zuri-training-main .training-one-middle-item p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 70%;
    padding-bottom: 2.5rem;
}

#zuri-training-main .training-one-middle-item a {
    background: #e7332b;
    border-radius: 71px;
    box-shadow: none;
    color: #fff;
    padding: 10px 32px;
}

#zuri-training-main .training-one-middle-item .training-one-middle-s1-wire {
    display: flex;
    width: 40%;
    justify-content: end;
}

#zuri-training-main .training-one-middle-item .training-one-middle-s1-wire img {
    width: 30%;
}

#zuri-training-main .training-one-middle-item .training-one-middle-s1-maleface {
    margin-right: 70%;
    margin-top: -25%;
    width: 3.3rem;
}

#zuri-training-main .hr-div {
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .hr-1 {
    border: 0.7px solid #514949;
    opacity: 0.2;
    margin-top: 10rem;
}

/* Section Two */
#zuri-training-main .zuri-training-main-2 {
    display: flex;
    align-items: center;
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item {
    width: 33.3%;
}

#zuri-training-main .zuri-training-main-2 .training-2-img {
    display: flex;
    justify-content: center;
}
#zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item img {
    mix-blend-mode: darken;
    width: 50%;
}

#zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item a {
    color: #43b97f;
}

#zuri-training-main .zuri-training-main-2 h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.00938em;
    color: #1b1a20;
}

#zuri-training-main .zuri-training-main-2 p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0.00938em;
    color: #1b1a20;
}

#zuri-training-main .hr-2 {
    border: 0.7px solid #514949;
    opacity: 0.2;
    margin: 1.5rem 0 3rem;
}

/* Section Three */
#zuri-training-main .zuri-training-main-3 {
    display: flex;
    align-items: center;
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item1 .zuri-training-3-wire {
    display: flex;
    width: 100%;
    justify-content: center;
}

#zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item1 .zuri-training-3-wire img {
    width: 15%;
}

#zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item1 {
    width: 60%;
}

#zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item2 {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 5rem;
}

#zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item2 img {
    mix-blend-mode: darken;
    width: 50%;
}

#zuri-training-main .zuri-training-main-3 h3,
#zuri-training-main .zuri-training-main-6 .training-main-6-header h3,
#zuri-training-main .zuri-training-main-7 h3,
#zuri-training-main .zuri-training-main-8 .training-8-head h3 {
    color: #e7332b;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}

#zuri-training-main .zuri-training-main-3 h2,
#zuri-training-main .zuri-training-main-6 h2,
#zuri-training-main .zuri-training-main-7 h2,
#zuri-training-main .zuri-training-main-8 .training-8-head h2 {
    color: #1b1a20;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

/* Section Four */
#zuri-training-main .zuri-training-main-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem 0 8rem;
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4 {
    width: 31%;
    color: #1b1a20;
    border-radius: 18px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    padding: 58px 48px 93px 50px;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4:hover {
    transform: translateY(-15px);
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4 img {
    width: 42%;
    float: right;
    margin-right: -49px;
    margin-top: -58px;
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4 h2 {
    color: #1b1a20;
    font-size: 3.75rem;
    line-height: 4rem;
    font-style: normal;
    font-weight: 700;
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4 h3 {
    color: #1b1a20;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-bottom: 2.25rem;
    padding-top: 2rem;
}

#zuri-training-main .zuri-training-main-4 .zuri-training-box-4 p {
    color: #1b1a20;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}

#zuri-training-main .zuri-training-main-4 .box-1,
#zuri-training-main .zuri-training-main-4 .box-1 h2,
#zuri-training-main .zuri-training-main-4 .box-1 h3,
#zuri-training-main .zuri-training-main-4 .box-1 p {
    background: #e7332b;
    color: #fff;
}


/* Section Five */
#zuri-training-main .zuri-training-main-5 {
    background-color: rgb(231, 51, 43);
}

#zuri-training-main .zuri-training-5-wrapper {
    display: flex;
    color: #ffffff;
    padding: 2.5rem 6rem 0;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 {
    width: 40%;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-wire {
    display: flex;
    justify-content: end;
    margin-right: 8rem;
    margin-top: 1rem;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-wire img {
    width: 23%;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.00938em;
    font-weight: 400;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: 0.00938em;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .second-p {
    width: 75%;
    padding-top: 2.6rem;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 a {
    display: inline-block;
    background: #fff;
    border-radius: 71px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    color: #E7332B;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 10px 32px;
    margin: 1.875rem 0 2.5rem;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 a:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point {
    display: flex;
    align-items: center;
    width: 45%;
    border: 2px solid #ffffff;
    border-radius: 79px;
    padding: 11px 8px 11px 15px;
    gap: 0.5rem;
    cursor: not-allowed;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point img {
    width: 25%;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item2 {
    width: 60%;
}

#zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item2 img {
    width: 100%;
}

#zuri-training-main .zuri-training-main-5 .zuri-5-bottom-img {
    width: 15%;
    padding: 2rem;
}

/* Section 6 */

#zuri-training-main .zuri-training-main-6 {
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-6 .training-main-6-header h3,
#zuri-training-main .zuri-training-main-6 .training-main-6-header h2 {
    width: 50%;
}

#zuri-training-main .zuri-training-main-6 .zuri-training-6-img {
    display: flex;
    justify-content: center;
}

#zuri-training-main .zuri-training-main-6 .zuri-training-6-img img {
    width: 13%;
}

#zuri-training-main .zuri-training-main-6 .training-6-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#zuri-training-main .zuri-training-main-6 .training-6-container-item {
    background: #fff;
    border-radius: 2.5rem;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    padding: 2.5rem;
    width: 30%;
}

#zuri-training-main .zuri-training-main-6 .training-6-flex-img {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#zuri-training-main .zuri-training-main-6 .training-6-containers .training-6-container-item h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 1.25rem;
    color: #1b1a20;
}

#zuri-training-main .zuri-training-main-6 .training-6-containers .training-6-container-item p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.4rem;
    padding: 1.875rem 0 0;
}

#zuri-training-main .zuri-training-main-6 .training-6-flex-img img {
    width: 80%;
}

#zuri-training-main .zuri-training-main-6 .training-6-btn {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem;
}

#zuri-training-main .hr-3 {
    border: 0.7px solid #514949;
    opacity: 0.2;
    margin-bottom: 2rem;
}

/* Section 7 */
#zuri-training-main .zuri-training-main-7 {
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-7 .training-7-wire {
    margin-left: 10%;
    margin-bottom: -5%;
}

#zuri-training-main .zuri-training-main-7 .training-7-wire img {
    width: 13%;
}

#zuri-training-main .zuri-training-main-8 .training-8-wire {
    margin-left: 10%;
    margin-top: 10px;
}

#zuri-training-main .zuri-training-main-8 .training-8-wire img {
    width: 13%;
}

#zuri-training-main .zuri-training-main-8 .training-8-star {
    display: flex;
    justify-content: end;
    margin-top: -65px;
}

#zuri-training-main .zuri-training-main-8 .training-8-star img {
    width: 12%;
}

#zuri-training-main .zuri-training-main-7 h3,
#zuri-training-main .zuri-training-main-7 h2,
#zuri-training-main .zuri-training-main-8 .training-8-head h3,
#zuri-training-main .zuri-training-main-8 .training-8-head h2 {
    text-align: center;
}

#zuri-training-main .zuri-training-main-7 .got-questions-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #333;
    margin-top: 2rem;
}

#zuri-training-main .zuri-training-main-7 .got-questions-tweet a {
    text-decoration: none;
}

#zuri-training-main .zuri-training-main-7 .got-questions-tweet .bird-tweet {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    cursor: pointer;
}

#zuri-training-main .zuri-training-main-7 .got-questions-tweet .bird-tweet svg {
    width: 2rem;
    fill: #ffffff;
}

#zuri-training-main .hr-4 {
    border: 0.7px solid #514949;
    opacity: 0.2;
    margin-bottom: 2rem;
}

/* Accordion */

.accordion-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.accordion {
    margin: 5rem 0 2rem;
}

.accordion .accordion-container {
    position: relative;
    border: 1px solid rgba(71,44,111,.43);
    padding: 20px;
}

.accordion .accordion-container .label {
    position: relative;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.accordion .accordion-container .label::before {
    display: inline-block;
    content: '+';
    position: absolute;
    top: 50%;
    right: 1.25rem;
    /* transform: translateY(-50%); */
    font-size: 1.5rem;
    transition: all 0.3s;
}

.accordion .accordion-container .content{
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 0.625rem;
    transition: 0.5s;
}

.accordion .accordion-container.active .content {
    height: 4rem;
    padding: 0.625rem;
}

.accordion .accordion-container.active .label::before {
    transform: rotate(180deg);
    content: '+';
}

/* Section 8 */
#zuri-training-main .zuri-training-main-8 {
    padding: 1.5rem 4.5rem;
}

#zuri-training-main .zuri-training-main-8 .training-8-head p {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3rem;
    text-align: center;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper {
    display: flex;
    margin: 2.5rem 0;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .first-8 {
    left: 0;
    margin-top: 19%;
    position: absolute;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .second-8,
#zuri-training-main .zuri-training-main-8 .training-8-wrapper .third-8 {
    width: 50%;
    background: #1b1a20;
    border: 1px solid #fff;
    border-radius: 65px;
    box-shadow: 0 31px 60px rgba(231,51,43,.2);
    box-sizing: border-box;
    padding: 64px 48px;
    color: #fff;
    margin-left: 2.1rem;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks .img-8 {
    display: flex;
    align-self: center;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks h2 {
    padding-bottom: 18px;
    font-size: 2.1rem;
    font-weight: 700;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks h3 {
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: .01em;
    line-height: 1.5rem;
    width: 90%;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .01em;
    font-weight: 400;
    width: 90%;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks ul {
    padding-left: 1rem;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks a {
    color: #ffffff;
    cursor: pointer;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks .ft {
    margin-top: 1.5rem;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks .ft .backend-ul {
    margin-top: 1.5rem;
}

#zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks .ft img {
    margin-left: 0.2rem;
    width: 15px;
    cursor: pointer;
}

#zuri-training-main .zuri-training-main-8 .training-8-btm-img {
    float: right;
    margin-right: -19px;
    margin-top: -106px;
    width: 23%;
}

#zuri-training-main .zuri-training-main-8 .training-8-btm-img-2 {
    float: right;
    margin-right: -19px;
    margin-top: -110px;
    width: 42%;
}

#zuri-training-main .zuri-training-main-8 .training-8-circle {
    float: right;
    margin-right: -57px;
    margin-top: -116px;
    width: 16%;
}

/* Section 9 */
#zuri-training-main .zuri-training-main-9 {
    padding: 1.5rem 4.5rem;   
}

#zuri-training-main .zuri-training-main-9 .img-9-dot {
    display: flex;
    margin-bottom: 27px;
    width: 10%;
}

#zuri-training-main .zuri-training-main-9 .img-9-round {
    left: 15%;
    margin-top: 65px;
    position: absolute;
    width: 12%;
}

#zuri-training-main .zuri-training-main-9 .img-9-bend {
    position: absolute;
    right: 5%;
    width: 11%;
}

#zuri-training-main .zuri-training-main-9 .zuri-9-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    background-color: rgb(231, 51, 43);
    border-radius: 24px;
    text-align: center;
}

#zuri-training-main .zuri-training-main-9 .zuri-9-container p {
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 70px;
}

#zuri-training-main .zuri-training-main-9 .zuri-9-container h2 {
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 20px;
    width: 50%;
}

#zuri-training-main .zuri-training-main-9 .zuri-9-container a {
    background: #fff;
    border-radius: 71px;
    box-shadow: none;
    color: #E7332B;
    padding: 10px 32px;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#zuri-training-main .zuri-training-main-9 .zuri-9-container a:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

#zuri-training-main .zuri-training-main-9 .training-9-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#zuri-training-main .zuri-training-main-9 .training-9-flex .img-9 {
    width: 10%;
}

/* Training Footer */
#zuri-training-footer {
    padding: 1.5rem 4.5rem;
    color: #1b1a20;
}

#zuri-training-footer .footer-training-top,
#zuri-training-footer .footer-training-bottom {
    display: flex;
    justify-content: space-between;
}

#zuri-training-footer .footer-training-top .training-footer-social img {
    margin-left: 0.3rem;
}

#zuri-training-footer .footer-training-bottom {
    margin: 1.5rem 0 1rem;
}

#zuri-training-footer .footer-training-bottom .training-footer-policy {
    display: flex;
    gap: 1rem;
}

#zuri-training-footer .footer-training-bottom .training-footer-policy a {
    text-decoration: none;
    color: #1b1a20;
}

.footer-training-hr {
    display: none;
}

/* Modal Main */
#modal-wrapper {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%; /* Very Important because This triggers the event.target section */
    height: 100%; /* Very Important because This triggers the event.target section */
    background-color: rgba(0, 0, 0, 0.507);
    
}

#modal-wrapper .modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 5rem;
    width: 40%;
    background-color: #ffffff;
    border-radius: 10px;
}

#modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

#modal-top h2 {
    font-size: 1.3rem;
    letter-spacing: .01em;
    line-height: 1.4rem;
    color: #1b1a20;
}

#modal-top p {
    margin-top: 1rem;
    color: #585757;
    font-size: 1.1rem;
    letter-spacing: .02em;
    line-height: 1.3rem;
}

#modal-wrapper p {
    margin-bottom: 0.5rem;
}

#modal-close {
    cursor: pointer;
}

/* Talent Modal */
#modal-wrapper .btn-modal-pop {
    margin: 0.5rem 0 1rem;
}

#modal-wrapper a {
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    padding: 11px 50px;
    text-decoration: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    white-space: nowrap;
}

#modal-wrapper a:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

#modal-wrapper .modal-container-talent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 5rem 2rem;
}

.modal-container-talent #modal-top h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.modal-container-talent #modal-top {
    gap: 1rem;
}

  .footer-hr {
    display: none;
  }


  /* Small Desktop Media Queries */

  @media screen and (min-width:1001px ) and (max-width:1180px) {
    #zuri-training-main .zuri-training-main-1 {
        flex-direction: column;
        padding: 1.5rem 4.5rem;
    }

    #zuri-training-main .training-one-item {
        width: 75%;
    }

    #zuri-training-main .training-one-middle-item {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-1 .maleface3 {
        display: none;
    }

    #zuri-training-main .hr-1 {
        border: 0.7px solid #514949;
        opacity: 0.2;
        margin-top: 8.5rem;
    }

    #zuri-training-main .zuri-training-main-2 {
        display: flex;
        align-items: center;
        padding: 0 4.5rem;
    }

    #zuri-training-main .zuri-training-main-2 h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-2 p {
        font-size: 1.125rem;
        line-height: 1.3rem;
    }

    #zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item img {
        mix-blend-mode: darken;
        width: 76%;
    }

    #zuri-training-main .hr-div {
        padding: 0 4.5rem;
    }

    #zuri-training-main .zuri-training-main-4 .zuri-training-box-4 {
        width: 48%;
    }

    #zuri-training-main .zuri-training-5-wrapper {
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper {
        flex-wrap: nowrap;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1,
    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item2  {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point {
        width: unset;
    }

    #zuri-training-main .zuri-training-main-6 .training-6-container-item {
        width: 48%;
    }

    #zuri-training-head .navbar-logo img {
        width: 90%;
    }

    #zuri-training-head .navbar .menu {
        gap: 1.5rem;
    }
  }

  @media screen and (min-width:900px ) and (max-width:1000px) {
    #zuri-training-head .navbar .menu {
        display: none;
    }

    #zuri-training-main .zuri-training-main-1 {
        flex-direction: column;
        padding: 1.5rem 4.5rem;
    }

    #zuri-training-main .training-one-item {
        width: 75%;
    }

    #zuri-training-main .training-one-middle-item {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-1 .maleface3 {
        display: none;
    }

    #zuri-training-main .hr-1 {
        border: 0.7px solid #514949;
        opacity: 0.2;
        margin-top: 8.5rem;
    }

    #zuri-training-main .zuri-training-main-2 {
        display: flex;
        align-items: center;
        padding: 0 4.5rem;
    }

    #zuri-training-main .zuri-training-main-2 h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-2 p {
        font-size: 1.125rem;
        line-height: 1.3rem;
    }

    #zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item img {
        mix-blend-mode: darken;
        width: 76%;
    }

    #zuri-training-main .hr-div {
        padding: 0 4.5rem;
    }

    #zuri-training-main .zuri-training-main-4 .zuri-training-box-4 {
        width: 47%;
    }

    #zuri-training-main .zuri-training-5-wrapper {
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1,
    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item2  {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper {
        flex-wrap: nowrap;
        gap: 1rem;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point {
        width: unset;
    }

    #zuri-training-main .zuri-training-main-6 .training-6-container-item {
        width: 47%;
    }

    #zuri-training-main .zuri-training-main-6 .training-main-6-header h2 {
        width: 100%;
    }

    #zuri-training-head .navbar-logo img {
        width: 90%;
    }
  }

  /* Media Queries for Mobile */
  @media screen and (min-width:350px) and (max-width:899px) {
    #zuri-training-head {
        padding: 1.5rem;
    }

    #zuri-training-head .img-text img {
        width: 3.5rem;
        margin-left: -35px;
        padding: 10px;
        margin-top: -27px;
    }

    #zuri-training-head .navbar .menu {
        display: none;
    }

    #zuri-training-head .navbar .navbar-logo {
        width: 55%;
    }

    #zuri-training-head .navbar-logo img {
        width: 80%;
    }

    #zuri-training-head .img-text .enroll {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    #zuri-training-main .zuri-training-main-1 {
        flex-direction: column;
        padding: 0 1.5rem;
    }

    #zuri-training-main .training-one-item {
        width: 100%;
    }

    #zuri-training-main .training-one-middle-item {
        width: 100%;
    }

    #zuri-training-main .training-one-middle-item h2 {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    #zuri-training-main .training-one-middle-item p {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    #zuri-training-main .zuri-training-main-1 .maleface3 {
        display: none;
    }

    #zuri-training-main .training-one-middle-item .training-one-middle-s1-maleface {
        display: none;
    }

    #zuri-training-main .hr-div {
        padding: 0 1.5rem;
    }

    #zuri-training-main .hr-1 {
        border: 0.7px solid #514949;
        opacity: 0.2;
        margin: 2.5rem 0;
    }

    #zuri-training-main .zuri-training-main-2 {
        flex-direction: column;
        padding: 0 1.5rem;
    }

    #zuri-training-main .zuri-training-main-3 {
        padding: 0 1.5rem;
    }

    #zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item1 {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-2 h3,
    #zuri-training-main .zuri-training-main-3 h3,
    #zuri-training-main .zuri-training-main-5 h3,
    #zuri-training-main .zuri-training-main-6 .training-main-6-header h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-2 p,
    #zuri-training-main .zuri-training-main-3 p,
    #zuri-training-main .zuri-training-main-3 p {
        font-size: 1.125rem;
        line-height: 1.3rem;
    }

    #zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-3 .zuri-training-main-3-item2 {
        display: none;
    }

    #zuri-training-main .zuri-training-main-2 .zuri-training-main-2-item img {
        mix-blend-mode: darken;
        width: 76%;
    }

    #zuri-training-main .zuri-training-main-3 {
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-4 {
        padding: 0 1.5rem;
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-4 .zuri-training-box-4 {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-5 {
        padding: 0 1.5rem;
    }

    #zuri-training-main .zuri-training-5-wrapper {
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1,
    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item2  {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper {
        flex-wrap: wrap;
        gap: 1rem;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point {
        width: 47%;
    }

    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 p {
        font-size: 0.9rem;
    }
    
    #zuri-training-main .zuri-training-main-5 .zuri-training-main-5-item1 .zuri-5-point-wrapper .zuri-5-point img {
        width: 20%;
    }

    #zuri-training-main .zuri-training-5-wrapper {
        padding: unset;
    }

    #zuri-training-main .zuri-training-main-6 {
        padding: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-6 .training-main-6-header h3,
    #zuri-training-main .zuri-training-main-6 .training-main-6-header h2 {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-6 h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #zuri-training-main .zuri-training-main-6 .training-6-container-item {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-6 .training-main-6-header h2 {
        width: 100%;
    }

    #zuri-training-main .zuri-training-main-7 {
        padding: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-7 h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #zuri-training-main .zuri-training-main-7 .accordion-wrapper {
        width: 100%;
    }

    #zuri-training-main .accordion .accordion-container {
        padding: 10px;
    }

    .accordion .accordion-container .label::before {
        right: 0.1rem;
    }

    #zuri-training-main .zuri-training-main-7 .got-questions-tweet {
        display: flex;
        flex-direction: column;
    }

    #zuri-training-main .zuri-training-main-8 {
        padding: 1.5rem;
    }
    
    #zuri-training-main .zuri-training-main-8 .training-8-wire img {
        width: 23%;
    }

    #zuri-training-main .zuri-training-main-8 .training-8-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    #zuri-training-main .zuri-training-main-8 .training-8-wrapper .first-8 {
        display: none;
    }

    #zuri-training-main .zuri-training-main-8 .training-8-wrapper .training-8-tracks {
        width: 100%;
        margin-left: unset;
    }

    #zuri-training-main .zuri-training-main-8 .training-8-circle {
        float: right;
        margin-right: -23px;
        margin-top: -72px;
        width: 40%;
    }

    #zuri-training-main .zuri-training-main-9 {
        padding: 1.5rem;
    }

    #zuri-training-main .zuri-training-main-9 .zuri-9-container h2 {
        font-size: 1.625rem;
        width: 60%;
    }

    #zuri-training-footer {
        padding: 1.5rem;
    }

    #zuri-training-footer .footer-training-top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #zuri-training-footer .footer-training-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    #zuri-training-footer .footer-training-bottom .training-footer-policy {
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }

    #zuri-training-main .hr-div {
        padding: 1.5rem;
    }

    .footer-training-hr {
        display: block;
        border: 0.7px solid #514949;
        opacity: 0.2;
        margin: 1.5rem 0;
    }

    .footer-training-copyright {
        width: 100%;
        text-align: center;
    }

    #modal-wrapper .modal-container {
        padding: 2rem;
        width: 80%;
    }
  }

  /* Zuri Talent */

  /* Zuri Talent Head */
  #zuri-talent-head {
    padding: 1rem 6rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
  }
  #zuri-talent-head nav {
    display: flex;
    justify-content: space-between;
  }

  #zuri-talent-head nav .menu-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  #zuri-talent-head nav .menu-items a {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .01em;
    font-weight: 400;
    text-decoration: none;
    color: #161617;
  }

  #zuri-talent-head nav .menu-items .header-btn {
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #ffffff;
    line-height: 1.9rem;
    padding: 11px 35px;
    white-space: nowrap;
  }

  #zuri-talent-head nav .menu-items .zuri-menu-link {
    position: relative;
  }

  #zuri-talent-head nav .menu-items .zuri-menu-link.active::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #E7332B;
    left: 0;
    bottom: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  #zuri-talent-head nav .menu-items .header-btn {
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #ffffff;
    line-height: 1.9rem;
    padding: 11px 35px;
    white-space: nowrap;
  }

  /* Zuri Talent Main */

  /* Zuri Talent Section 1 */

  #zuri-talent-main .zuri-talent-main-1 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 6rem;
  }

  #zuri-talent-main .zuri-talent-main-1-item-1,
  #zuri-talent-main .zuri-talent-main-1-item-2 {
    width: 50%;
  }

  #zuri-talent-main .zuri-talent-main-1-item-1 h2,
  #zuri-talent-main .zuri-talent-main-2-item-1 h2,
  #zuri-talent-main .zuri-talent-main-3 h2,
  #zuri-talent-main .zuri-talent-main-4 h2 {
    color: #161617;
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
  }

  #zuri-talent-main .zuri-talent-main-1-item-1 span,
  #zuri-talent-main .zuri-talent-main-2-item-1 span,
  #zuri-talent-main .zuri-talent-main-3 span,
  #zuri-talent-main .zuri-talent-main-4 span {
    color: rgb(231, 51, 43);
  }

  #zuri-talent-main .zuri-talent-main-1-item-1 .talent-line-1 {
    margin-left: 432px;
    margin-top: -24px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-line-1 img {
        width: 100%;
    }


#zuri-talent-main .zuri-talent-main-1-item-1 p {
    color: #787878;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    width: 78%;
    padding-top: 15px;
}

#zuri-talent-main .zuri-talent-main-1-item-1 a,
#zuri-talent-main .zuri-talent-main-4 a {
    border-radius: 0 0 8px 0;
    line-height: 1.9rem;
    padding: 11px 50px;
    text-decoration: none;
}

#zuri-talent-main .zuri-talent-main-1-item-1 a:hover,
#zuri-talent-main .zuri-talent-main-4 a:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

#zuri-talent-main .zuri-talent-main-1-item-1 .talent-top-btns {
    margin-top: 30px;
    /* gap: 1rem; */
    white-space: nowrap;
    display: inline-block;
}

#zuri-talent-main .zuri-talent-main-1-item-1 .first-btn,
#zuri-talent-main .zuri-talent-main-4 .first-btn {
    background-color: #e7332b;
    color: #ffffff;
    margin-right: 0.5rem;
}

#zuri-talent-main .zuri-talent-main-1-item-1 .second-btn,
#zuri-talent-main .zuri-talent-main-4 .second-btn {
    background-color: #585858;
    color: #ffffff;
    margin-right: 0.5rem;
}

#zuri-talent-main .zuri-talent-main-1-item-2 img {
    width: 70%;
}

#zuri-talent-main .zuri-talent-main-1-item-2 .talent-two-typing {
    display: flex;
    justify-content: flex-end;
}

#zuri-talent-main .zuri-talent-main-1-item-2 .talent-line-2 {
    margin-top: -172px;
    mix-blend-mode: soft-light;
    position: absolute;
    right: 0;
}

#zuri-talent-main .zuri-talent-main-1-item-2 .talent-line-2 img {
    width: 138px;
}


/* Zuri Talent Section 2 */

#zuri-talent-main .zuri-talent-main-2 {
    background: url(img/bgsection2.png) no-repeat;
    background-size: cover;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 90px 6rem 142px;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1,
  #zuri-talent-main .zuri-talent-main-2-item-2 {
    width: 50%;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1 h4 {
    font-size: 19px;
    line-height: 22px;
    color: #161617;
    padding-top: 10px;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1 p {
    color: #787878;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    width: 78%;
    padding-top: 10px;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1 .countries {
    display: flex;
    gap: 0.5rem;
    padding-top: 19px;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1 .country {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 7px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #zuri-talent-main .zuri-talent-main-2-item-1 .country img {
    width: 75%;
    margin: 0 auto;
  }

  #zuri-talent-main .zuri-talent-main-2-item-2 {
    display: flex;
    justify-content: flex-end;
  }

  #zuri-talent-main .zuri-talent-main-2-item-2 img {
    width: 70%
  }

  /* Zuri Talent Section 3 */

    #zuri-talent-main .zuri-talent-main-3 {
        padding: 6.25rem 6rem;
  }

  #zuri-talent-main .zuri-talent-main-3 h2 {
    width: 41%;
    padding-bottom: 35px;
  }

  #zuri-talent-main .zuri-talent-main-3 .talent-items {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  #zuri-talent-main .zuri-talent-main-3 .talent-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
    color: #787878;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 0.00938em;
    transition: transform .3s ease,-webkit-transform .3s ease;
    white-space: nowrap;
  }

  #zuri-talent-main .zuri-talent-main-3 .talent-item:hover {
    transform: translateY(-15px);
  }

  /* Zuri Talent Section 4 */
  #zuri-talent-main .zuri-talent-main-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 6rem 5rem;
    background-color: rgb(255, 248, 229);
    padding-bottom: 80px;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-4-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 80px;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 16px 0;
    color: #787878;
    padding: 4rem 10px;
    width: 32%;
    z-index: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box:hover {
    background-color: #161617;
    color: #ffffff;
    box-shadow: 0 8px 30px hsl(0deg 0% 69% / 7%);
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box p {
    padding-top: 15px;
    width: 85%;
  }

  #zuri-talent-main .zuri-talent-main-4 .invisible-box-4 {
    width: 15%;
    z-index: 1;
  }

  #zuri-talent-main .zuri-talent-main-4 h2 {
    padding-top: 100px;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-4-rope {
    position: absolute;
    left: 0;
    margin-top: 275px;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-4-rope img {
    width: 100%;
  }

  #zuri-talent-main .zuri-talent-main-4 .talent-btns {
    margin-top: 70px;
    display: flex;
    gap: 1rem;
    white-space: nowrap;
  }

  /* Talent Footer */

  #zuri-talent-footer {
    background-color: rgb(22, 22, 23);
    padding: 1rem 3rem;
  }

  #zuri-talent-footer .zuri-talent-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }

  #zuri-talent-footer .zuri-talent-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  #zuri-talent-footer .zuri-talent-top .social-footer-talent {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #zuri-talent-footer .zuri-talent-top .social-footer-talent img {
    width: 30px;
  }

  #zuri-talent-footer .zuri-talent-bottom {
    margin-top: 1rem;
    padding-top: 20px;
  }

  #zuri-talent-footer .zuri-talent-bottom p,
  #zuri-talent-footer .zuri-talent-bottom a {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.4rem;
    text-decoration: none;
  }

@media screen and (min-width:891px) and (max-width:1199px) {
    #zuri-talent-head nav .menu-items {
        width: 70%;
        justify-content: space-between;
    }

    #zuri-talent-main .zuri-talent-main-1 {
        flex-direction: column;
        margin-top: 20%;
      }

    #zuri-talent-main .zuri-talent-main-1-item-1,
    #zuri-talent-main .zuri-talent-main-1-item-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-line-1 {
    margin-left: 60vw;
    margin-top: -24px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-line-2 {
    display: none;
    }
    
    #zuri-talent-main .zuri-talent-main-1-item-1 p {
        padding-top: 0.9rem;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-top-btns {
        margin-top: 30px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-two-typing {
        display: block;
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 img {
        width: 70%;
    }

    #zuri-talent-main .zuri-talent-main-2 {
        flex-direction: column;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1,
    #zuri-talent-main .zuri-talent-main-2-item-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-2 {
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-3 h2 {
        width: 100%;
        text-align: center;
    }

        
    #zuri-talent-main .zuri-talent-main-3 .talent-items {
        flex-wrap: wrap;
    }

    #zuri-talent-main .zuri-talent-main-3 .talent-item {
        width: 30%;
    }

    #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box {
        width: 48%;
    }

    #zuri-talent-main .zuri-talent-main-4 .invisible-box-4 {
        display: none;
    }

    #zuri-talent-main .zuri-talent-main-4 .big-width {
        width: 100%;
    }
  }

  @media screen and (min-width:601px) and (max-width:890px) {
    #zuri-talent-head {
    padding: 1rem 3rem;
}

    #zuri-talent-head nav .menu-items > a {
        display: none;
    }

    #zuri-talent-head nav .menu-items {
        width: 50%;
        justify-content: flex-end;
    }

    #zuri-talent-main .zuri-talent-main-1 {
        flex-direction: column;
        margin-top: 20%;
      }

    #zuri-talent-main .zuri-talent-main-1-item-1,
    #zuri-talent-main .zuri-talent-main-1-item-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-line-1 {
    margin-left: 60vw;
    margin-top: -24px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-line-2 {
    display: none;
    }
    
    #zuri-talent-main .zuri-talent-main-1-item-1 p {
        padding-top: 0.9rem;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-top-btns {
        margin-top: 30px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-two-typing {
        display: block;
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 img {
        width: 70%;
    }

    #zuri-talent-main .zuri-talent-main-2 {
        flex-direction: column;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1,
    #zuri-talent-main .zuri-talent-main-2-item-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-2 {
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-3 {
        padding: 6.25rem 3rem;
    }

    #zuri-talent-main .zuri-talent-main-3 h2 {
        width: 100%;
        text-align: center;
    }

        
    #zuri-talent-main .zuri-talent-main-3 .talent-items {
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    #zuri-talent-main .zuri-talent-main-3 .talent-item {
        width: 30%;
        font-size: 0.9rem;
    }

    #zuri-talent-main .zuri-talent-main-4 {
        padding: 1rem 3rem 5rem;
    }
    #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box {
        width: 48%;
    }

    #zuri-talent-main .zuri-talent-main-4 .invisible-box-4 {
        display: none;
    }

    #zuri-talent-main .zuri-talent-main-4 .big-width {
        width: 100%;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 h2 {
        font-size: 1.875rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 .countries {
        gap: 1rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 .country {
        width: 70px;
    }

    #zuri-talent-footer {
        background-color: rgb(22, 22, 23);
        padding: 1rem 2rem;
    }

    #zuri-talent-footer .zuri-talent-top {
        justify-content: space-around;
    }
  }


  @media screen and (min-width:350px) and (max-width:600px) {
    #zuri-talent-head {
    padding: 1rem;
}

    #zuri-talent-head nav .menu-items > a {
        display: none;
    }

    #zuri-talent-head nav .menu-items {
        width: 50%;
        justify-content: flex-end;
    }

    #zuri-talent-main .zuri-talent-main-1 {
        flex-direction: column;
        margin-top: 20%;
        padding: 1rem;
      }

    #zuri-talent-main .zuri-talent-main-1-item-1,
    #zuri-talent-main .zuri-talent-main-1-item-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 a,
    #zuri-talent-main .zuri-talent-main-4 a {
        padding: 8px 25px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-line-1 {
    margin-left: 60vw;
    margin-top: -24px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-line-2 {
    display: none;
    }
    
    #zuri-talent-main .zuri-talent-main-1-item-1 p {
        padding-top: 0.9rem;
        width: 100%;
    }

    #zuri-talent-main .zuri-talent-main-1-item-1 .talent-top-btns {
        margin-top: 30px;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 .talent-two-typing {
        display: block;
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-1-item-2 img {
        width: 100%;
    }

    #zuri-talent-main .zuri-talent-main-2 {
        flex-direction: column;
        padding: 90px 1rem 142px;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1,
    #zuri-talent-main .zuri-talent-main-2-item-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 1rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-2 {
        margin-top: 3.125rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 {
        justify-content: unset;
        align-items: unset;
        text-align: left;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 h4 {
        text-align: left;
    }

    #zuri-talent-main .zuri-talent-main-3 {
        padding: 6.25rem 1.2rem;
    }

    #zuri-talent-main .zuri-talent-main-3 h2 {
        width: 100%;
        text-align: center;
        font-size: 1.75rem;
        text-align: left;
        line-height: 2rem;
    }

        
    #zuri-talent-main .zuri-talent-main-3 .talent-items {
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    #zuri-talent-main .zuri-talent-main-3 .talent-item {
        width: 47.5%;
        font-size: 0.9rem;
    }

    #zuri-talent-main .zuri-talent-main-4 {
        padding: 1rem 1rem 5rem;
    }

    #zuri-talent-main .zuri-talent-main-4 h2 {
        font-size: 1.75rem;
    }

    #zuri-talent-main .zuri-talent-main-4 .talent-main-4-box {
        width: 100%;
    }

    #zuri-talent-main .zuri-talent-main-4 .invisible-box-4 {
        display: none;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 h2 {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 .countries {
        gap: 1rem;
    }

    #zuri-talent-main .zuri-talent-main-2-item-1 .country {
        width: 70px;
    }

    #zuri-talent-footer {
        background-color: rgb(22, 22, 23);
        padding: 1rem 2rem;
    }

    #zuri-talent-footer .zuri-talent-top {
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
    }

    #zuri-talent-footer .zuri-talent-bottom {
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }

    #zuri-talent-footer .footer-hr-div {
        display: block;
        padding-top: 20px;
        width: 100%;
        }

    #zuri-talent-footer .zuri-talent-footer-hr {
        display: block;
    border: thin solid gray;
    opacity: 0.2;
    }

    #zuri-talent-main .zuri-talent-main-4 .talent-btns {
        display: block;
    }

    #modal-wrapper .modal-container-talent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
        padding: 3rem 1rem;
    }

    #modal-wrapper .modal-container-talent h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

  }